.fila{
    position: relative;
    display: flex;
}

.imagen{
    width: 60%;
    height: 60%;
}

.circle-icon {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: lightgray;
    transition: background-color 0.3s;
}
* {
    box-sizing: border-box;
    font-family: 'work sans';
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px; /* Ajuste del margen superior */
}

.d-flex {
    display: flex !important; /* Asegura que la clase d-flex tenga flex */
}

.justify-content-center {
    justify-content: center !important; /* Centra horizontalmente el texto */
}

.mb-5 {
    margin-bottom: 3rem !important; /* Ajuste del margen inferior */
}

.ml-3 {
    margin-left: 1rem !important; /* Ajuste del margen izquierdo */
}

.ml-2 {
    margin-left: 0.5rem !important; /* Ajuste del margen izquierdo */
}

.p-2 {
    padding: 0.5rem !important; /* Ajuste del relleno */
}

.px-4 {
    padding-left: 1.5rem !important; /* Ajuste del relleno horizontal */
    padding-right: 1.5rem !important;
}

/* Estilos para el título "Productos disponibles" */
.container h1 {
    text-align: center; /* Centra el texto horizontalmente */
    margin-bottom: 30px; /* Espaciado inferior */
}

/* Estilos para los botones "Editar" y "Eliminar" */
.bg-warning,
.bg-danger {
    color: #0e0606; /* Color del texto */
    background-color: #27afaf; /* Color de fondo predeterminado */
    border: 2px solid #000; /* Borde negro */
    border-radius: 8px; /* Borde redondeado */
    padding: 12px 24px; /* Ajusta el relleno para hacer los botones más grandes */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transición suave del color de fondo y del sombreado */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra predeterminada */
}

.bg-warning:hover,
.bg-danger:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1); /* Cambia el sombreado al pasar el mouse */
}
.btn-agregar {
    display: block;
    margin: 0 auto;
    width: 200px; /* Ancho del botón */
    text-align: center; /* Centra el texto horizontalmente */
    padding: 10px;
    background-color: #36bdc2; /* Color de fondo del botón */
    color: rgb(17, 5, 5); /* Color del texto */
    border: 1px solid black;
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-agregar:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
}

.imagen {
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
    width: 400px; /* Ajusta el ancho de la imagen según sea necesario */
}

.text-center {
    text-align: center; /* Centra el texto horizontalmente */
}



